<div class="h-full w-full">
  <ul role="list" class="grid grid-cols-2 gap-x-4 gap-y-8 sm:grid-cols-3 sm:gap-x-6 lg:grid-cols-4 xl:gap-x-8">
    <% if logged_in? %>
    <li class="relative">
      <%= link_to new_novel_path, class: "group aspect-w-10 aspect-h-7 block w-full overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100" do %>
        <%= render "components/dash_border_card" %>
      <% end %>
    </li>
    <% end %>
    
    <li class="relative">
      <div class="group aspect-w-10 aspect-h-7 block w-full overflow-hidden rounded-lg bg-gray-100 focus-within:ring-2 focus-within:ring-indigo-500 focus-within:ring-offset-2 focus-within:ring-offset-gray-100">
        <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/1f91b7c0-fa6f-4cfd-9a5d-639a7e206906/dfebdnb-c2ead1c6-3471-48c2-89b5-217fef777e1c.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7InBhdGgiOiJcL2ZcLzFmOTFiN2MwLWZhNmYtNGNmZC05YTVkLTYzOWE3ZTIwNjkwNlwvZGZlYmRuYi1jMmVhZDFjNi0zNDcxLTQ4YzItODliNS0yMTdmZWY3NzdlMWMuanBnIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmZpbGUuZG93bmxvYWQiXX0.MAlzsVLoaPoguksD9J6pFpYtSb3FogZZI48ynqPzlac" alt="" class="pointer-events-none object-cover group-hover:opacity-75">
        <button type="button" class="absolute inset-0 focus:outline-none">
          <span class="sr-only">Novel cover image</span>
        </button>
      </div>
      <p class="pointer-events-none mt-2 block truncate text-sm font-medium text-gray-900">Title of the novel</p>
      <p class="pointer-events-none block text-sm font-medium text-gray-500">Author's name</p>
    </li>
  </ul>
</div>
